body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}

.input-container {
  position: relative;
  width: 20%; 
}

.input-container input[type="text"] {
  width: 100%;
  padding: 8px 0px 8px 8px; 
  border: 1px solid #e6e3e3;
  border-radius: 4px;
}

.search-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #333; 
}

.search-button i {
  font-size: 18px;
  color: inherit; 
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px;
}

.video-item {
  position: relative;
  border: solid 2px #333;
  overflow: hidden;
  height: 150px;
  width: 200px;
}

.video-item img {
  width: 100%; 
  height: auto;
  display: flex;
  justify-content: center;

}

.favorite-star {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 10; 
}

.favorite-star.active {
  color: #f8cc08; 
}

@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}