body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}

.input-container {
  position: relative;
  width: 20%; 
}

.input-container input[type="text"] {
  width: 100%;
  padding: 8px 0px 8px 8px; 
  border: 1px solid #e6e3e3;
  border-radius: 4px;
}

.search-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #333; 
}

.search-button i {
  font-size: 18px;
  color: inherit; 
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px;
}

.video-item {
  position: relative;
  border: solid 2px #333;
  overflow: hidden;
  height: 150px;
  width: 200px;
}

.video-item img {
  width: 100%; 
  height: auto;
  display: flex;
  justify-content: center;
}

.favorite-star {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 20px;
  color: gray; /* Color gris para los bordes en el estado normal */
  cursor: pointer;
  z-index: 10; 
}

.favorite-star.fas {
  color: yellow; /* Color amarillo para borde y relleno en estado activo */
}

.video-player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* 50% del ancho de la pantalla */
  height: 50%; /* Mantén el aspecto */
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000; /* Asegúrate de que esté por encima de todo el contenido */
}

.video-player iframe {
  width: 100%;
  height: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}
