

# Ignorar directorio node_modules
node_modules/
package-lock.json

# Ignorar archivos generados por IDEs o editores
.vscode/
.idea/

# Ignorar archivos de compilación o build
dist/
build/

# Ignorar archivos de logs y archivos temporales
*.log
*.tmp