#drawer {
  width: 20%;
  float: left;
}

#content {
  width: 80%;
  float: right;
}

.video-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.video-item img {
  width: 120px;
  height: 90px;
}

.video-item h3 {
  flex-grow: 1;
  margin-left: 10px;
}

.remove-favorite-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
