<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Videos</title>
  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
  <div class="container">
    <form id="searchForm" class="search-form">
      <div class="input-container">
        <input type="text" id="searchQuery" name="q" placeholder="PESQUISAR">
        <button type="submit" class="search-button"><i class="far fa-search"></i></button>
      </div>
    </form>
    <div id="results" class="video-grid">
    </div>
  </div>
  <script src="../views/main.js" type="module"></script>
</body>
</html>
